.navbar
    {
        /* Affects the toggle down */

    }

.navbar-brand
    {
      font-size: 25px;
      font-family: 'Titillium Web';
      font-weight: 800;

    }
.nav-link
    {
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
    }

.bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
    }

@media only screen and (max-width: 600px) {      /* @media only screen and (max-width: 600px) {*/
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
      .navbar-brand {
        min-width: 8%
      }
    }
  