.d1 {background:white;}
.d2 {
    background: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    }
.d3 {
    background:white;
    }
.d4 {background:white;}

.d5 {background: white;}

.d6 {background:white;}

.wrapper {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 5300px 100px
}

