.d1 {background:white;}
.d2 {
    background: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    }
.d3 {
    background:white;
    }
.d4 {background:white;}

.d5 {background:PaleGreen;}


.container {
  font-size: 40px;
  width: 100%;
  background: white;
  display: grid;
  grid-template-columns: 3fr auto ;
  grid-template-rows: 380px auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.wrapper {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100px 100px 100px;
}

