.grid-container-main {
  background: grey;
  display: grid;
  grid-template-columns: 33% 33% 33%;              
  grid-template-rows: 1000px  1000px 1000px 1000px 1000px;
  grid-column-gap: 2px;   
  grid-row-gap: 2px;
} 

.box-1 {
  background: blue
}

.box-2 {
  background: blue;   
}

.box-3 {
  background: blue;   
}

.box-4 {
  background: blue;   
}

.box-5 {
  background: blue;   
}

.box-6 {
  background: blue;   
}

.box-7 {
  background: blue;   
}

.box-8 {
  background: blue;   
}

.box-9 {
  background: blue;   
}

.box-10 {
  background: blue;   
}
.box-11 {
  background: blue;   
}

.box-12 {
  background: blue;   
}

.box-13 {
  background: blue;   
}

.box-14 {
  background: blue;   
}

.box-15 {
  background: blue;   
}

.box-16 {
  background: blue;   
}


